@{
    ViewData["Title"] = "Home Page";
}

<!--This is the home page, but it sends it to the partial view in BowlerSummary.cshtml (under Views/Shared)-->

<!--This will display the Team Name when filtered to a specific team-->
<h3>@ViewBag.name</h3>
@model IQueryable<Bowler>
    <div>
        <a asp-controller="Home" asp-action="BowlerForm">Add Bowler</a>
    </div>

    @foreach (var b in Model)
    {
        <partial name="BowlerSummary" model="b" />
    }
